
<!DOCTYPE html>

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!---->
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Restrict date range</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <style>
   .container
   {
    position: absolute;
    top: 40px;
    right: -800px;
    font-size: 18px;
   }
   .cont{
   position: absolute;
    top: 15px;
    right: -400px;
    font-size: 18px;

   }
   .date
   {
    position: absolute;
    top: 100px;
    right: 20px;
    font-size: 18px;
   }
.submit
   {
    background-color: #4CAF50; /* Green */
    color:white;
    position: absolute;
    top: 40px;
    right: 20px;
    border-radius: 8px;
    padding: 10px;
    width:30px
    font-size: 18px;
   }
* {
    box-sizing: border-box;
}

.column {
    top:200px;
    float: left;
    width: 50%;
    padding: 10px;
    height: 400px;
}
.row {
   margin-top: 30px;

}
.scrolltext{
    top: 10px;
    background:green;
    color:white;
    border:1px solid black;
    height:30px;
}
body{
 overflow:hidden;
}
.img{
   display: block;
   position: relative;
   top: 20px;
   margin-left: 260px;
   margin-right: auto;

}
  </style>


{% load static %}
</head>
<body style="background-color:lightblue;">
<div class="scrolltext">
    <marquee behavior="scroll" direction="left" >Please do subscribe for words updates and follow us on twitter at(teluguwords)and facebook at (teluguwords) page!</marquee>

</div>

<img src="{% static 'word/night.png' %}" alt="Girl in a jacket" width="440" height="220" align="middle"  class="img">

<div class="container">

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Subscribe</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Welcome</h4>
        </div>
        <div class="modal-body">
            {% csrf_token  %}
        </div>
            <label for="name"><b>name</b></label>
            <input type="text" placeholder="Enter name" id="name" name="name" required><br>

            <label for="email"><b>email</b></label>
            <input type="text" placeholder="Enter email" id="email" name="email" required><br>

            <label for="nation"><b>nation</b></label>
            <input type="text" placeholder="Enter nation" id="nation" name="nation" required>



        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="subscribe()">Done</button>
        </div>
      </div>

    </div>
  </div>

</div>

<script>
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", $('input[name=csrfmiddlewaretoken]').val());
        }
    }
     });
     function subscribe()
    {
    console.log('working')
        $.ajax({
                    type: 'POST',
                    url: "{% url 'subscribe' %}",
                    data:{
                            'name': $('#name').val(),
                            'email': $('#email').val(),
                            'nation':  $('#nation').val(),

                          },
                    success: function( data )
                                    {
                                        $('#result').html(data.message);
                                        $("#result").addClass("alert alert-success offset4 span4");
                                        console.log(name)
                                        console.log(data);
                                        alert(data['message'])
                                        window.location.href = 'http://127.0.0.1:8000/submail';
                                    }
              });
    }

</script>



<div class="row">

<div class="column" style="background-color:#aaa;">
    {% for data in words %}

<span > <h4 style="text-decoration: underline;"> word:</h4> <ul>{{data.word_name}}</ul></span>

<span > <h4 style="text-decoration: underline;"> Transliteration:</h4> <ul> {{data.word_Transliteration}}</ul> </span>

<span > <h4 style="text-decoration: underline;">Meaning:</h4> <ul> {{data.word_meaning}}</ul> </span>

<span > <h4 style="text-decoration: underline;">Synonyms:</h4> <ul> {{data.word_synonyms}} </ul> </span>
    {% endfor %}
</div>

  <div class="column" style="background-color:#bbb;">
    {% for data in words %}

<span> <h4  style="text-decoration: underline;">InEnglish:</h4> <ul> {{data.word_english}} </ul> </span>

    <span > <h4 style="text-decoration: underline;">WordUsage:</h4> <ul> {{data.word_usage}} </ul> </span>


<span > <h4 style="text-decoration: underline;">Quotation of the day:</h4> <ul> {{data.quote}} </ul> </span>

<span> <h4 style="text-decoration: underline;">Poem of the day: </h4> <ul> {{data.poem}} </ul> </span>

    {% endfor %}


</div>
</div>







<div class="date">

    <form>
    {% csrf_token  %}

      <!--<input type="date" name="date" id="date" class="datepicker" min="2018-09-19" >-->
        <p>Date: <input type="text" id="date" autocomplete="off"></p>
        <button class="submit" type="submit" onclick=datepick()>submit</button>
    </form>
</div>
<script>
    $( function() {
    $( "#date" ).datepicker({  dateFormat: 'yy-mm-dd',minDate: new Date(2018, 8,19), maxDate: +0 });
  } );

</script>
<script>
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", $('input[name=csrfmiddlewaretoken]').val());
        }
    }
     });
     function datepick()
    {
    console.log('working')
        $.ajax({
                    type: 'POST',
                    url: "{% url 'index' %}",
                    data:{
                            'date': $('#date').val(),

                          },
                    success: function( data )
                                    {

                                        $('#result').html(data.message);
                                        $("#result").addClass("alert alert-success offset4 span4");
                                        console.log(name)
                                        console.log(data);
                                        alert(data['message'])
                                        window.location.href = 'http://127.0.0.1:8000/';
                                    }
              });
    }

</script>



{% for message in messages %}
  <div class="alert " role="alert">
      <h1>{{ message }}</h1>
  </div>
{% endfor %}
</body>
</html>

